// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@-webkit-keyframes wiggle {
  0% {
  -webkit-transform:rotate(6deg);
  }
  50% {
  -webkit-transform:rotate(-6deg);
  }
  100% {
  -webkit-transform:rotate(6deg);
  }
}

.main-zone {
  position: relative;
  #eye {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover {
      opacity: 0.2;
    }
  }
  #hand {
    &:hover {
      -webkit-animation: wiggle 0.5s infinite;
    }
  }
  #record {
    transition-duration: 7s;
    &:hover {
      transform: rotate(720deg);
    }
  }
  #window {
    position: absolute;
    z-index: 9999;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 550px;
    -webkit-transform-origin: 0 50%;
    -webkit-transition: all 1s;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 550px;
    -moz-transform-origin: 0 50%;
    -moz-transition: all 1s;
    -o-transform-style: preserve-3d;
    -o-perspective: 550px;
    -o-transform-origin: 0 50%;
    -o-transition: all 1s;
    transform-style: preserve-3d;
    perspective: 550px;
    transform-origin: 0 50%;
    transition: all 1s;
    &:hover {
      -webkit-transform: scale(0.05,1) skew(0deg,20deg);
      -moz-transform: scale(0.05,1) skew(0deg,20deg);
      -o-transform: scale(0.05,1) skew(0deg,20deg);
      transform: scale(0.05,1) skew(0deg,20deg);
    }
  }
}

.web-wrapper {
  max-width: 500px;
  position: absolute;
  top: 6em;
  left: 6em;
  &:hover h2 {
    visibility: visible;
    color: $white;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  h2 {
    position: absolute;
    top: 1.5em;
    left: 3.1em;
    visibility: hidden;
  }
}

.who-wrapper {
  max-width: 135px;
  position: absolute;
  top: 39em;
  left: 12em;
  &:hover h2 {
    visibility: visible;
  }
  h2 {
    position: absolute;
    top: 0.2em;
    left: 0.55em;
    font-size: 1.6em;
    visibility: hidden;
    color: $black;
  }
}

.print-wrapper {
  max-width: 340px;
  position: absolute;
  top: 16em;
  right: 27.5em;
  &:hover h2 {
    visibility: visible;
  }
  h2 {
    position: absolute;
    transform: rotate(-53deg);
    top: 4.7em;
    left: 2.9em;
    visibility: hidden;
    color: $red;
  }
}

.mix-wrapper {
  position: absolute;
  max-width: 250px;
  top: 42em;
  right: 14em;
  &:hover h2 {
    visibility: visible;
  }
  h2 {
    position: absolute;
    top: 0.25em;
    left: 4.25em;
    visibility: hidden;
    font-size: 1.5em;
    color: $mustard;
  }
}

.blog-wrapper {
  max-width: 100px;
  position: absolute;
  top: 10em;
  right: 12em;
  &:hover h2 {
    opacity:1;
  }
  h2 {
    position: absolute;
    top: 1.25em;
    left: 0.35em;
    opacity:0;
    transition:2s ease-in;
    font-size: 1.5em;
    color: $white;
  }
}
