// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

// hand wave for print work //

@-webkit-keyframes wiggle {
  0% {
  -webkit-transform:rotate(6deg);
  }
  50% {
  -webkit-transform:rotate(-6deg);
  }
  100% {
  -webkit-transform:rotate(6deg);
  }
}

// icon positioning + animations on index page //

.main-zone {
  position: relative;
  #eye {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover {
      opacity: 0.2;
    }
    @media #{$laptop} {
      width: 80%;
    }
    @media #{$tablet} {
      width: 60%;
    }
    @media #{$mobile} {
      width: 50%;
    }
  }

  #hand {
    &:hover {
      -webkit-animation: wiggle 0.5s infinite;
    }
    @media #{$laptop} {
      width: 65%;
    }
    @media #{$tablet} {
      width: 60%;
    }
    @media #{$mobile} {
      width: 6em;
    }
  }

  #record {
    transition-duration: 7s;
    &:hover {
      transform: rotate(720deg);
    }
    @media #{$mobile} {
      width: 50%;
    }
  }
  #window {
    position: absolute;
    z-index: 9999;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 550px;
    -webkit-transform-origin: 0 50%;
    -webkit-transition: all 1s;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 550px;
    -moz-transform-origin: 0 50%;
    -moz-transition: all 1s;
    -o-transform-style: preserve-3d;
    -o-perspective: 550px;
    -o-transform-origin: 0 50%;
    -o-transition: all 1s;
    transform-style: preserve-3d;
    perspective: 550px;
    transform-origin: 0 50%;
    transition: all 1s;
    &:hover {
      -webkit-transform: scale(0.05,1) skew(0deg,20deg);
      -moz-transform: scale(0.05,1) skew(0deg,20deg);
      -o-transform: scale(0.05,1) skew(0deg,20deg);
      transform: scale(0.05,1) skew(0deg,20deg);
    }
    @media #{$mobile} {
      width: 3.5em;
    }
  }
}

#book {
  @media #{$mobile} {
      width: 70%;
  }
}

.web-wrapper {
  max-width: 500px;
  position: absolute;
  top: 6em;
  left: 6em;
  @media #{$tablet} {
    left: 3em;
  }
  @media #{$mobile} {
    top: 3em;
    left: 2em;
  }
  &:hover h2 {
    visibility: visible;
    color: $white;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
  }
  h2 {
    position: absolute;
    top: 1.5em;
    left: 3.1em;
    visibility: hidden;
    @media #{$laptop} {
      font-size: 2.5em;
      top: 1.4em;
      left: 2.95em;
    }
    @media #{$tablet} {
      font-size: 2.15em;
      top: 1em;
      left: 2.4em;
    }
    @media #{$mobile} {
      font-size: 1.25em;
      top: 1em;
      left: 2.5em;
    }
  }
}

.who-wrapper {
  max-width: 135px;
  position: absolute;
  top: 39em;
  left: 12em;
  &:hover h2 {
    visibility: visible;
  }
  h2 {
    position: absolute;
    top: -3em;
    left: 3em;
    font-size: 1.6em;
    visibility: hidden;
    color: $white;
    @media #{$mobile} {
      font-size: 1.3em;
      top: -2.5em;
    }
  }
  @media #{$laptop} {
    left: 8em;
  }
  @media #{$tablet} {
    top: 35em;
    left: 4em;
  }
  @media #{$mobile} {
    top: 15.5em;
    left: 3em;
  }
}

.print-wrapper {
  max-width: 340px;
  position: absolute;
  top: 16em;
  left: 45em;
  &:hover h2 {
    visibility: visible;
  }
  h2 {
    position: absolute;
    transform: rotate(-53deg);
    top: 4.7em;
    left: 2.9em;
    visibility: hidden;
    color: $red;
    @media #{$laptop} {
      font-size: 2.5em;
      top: 3.4em;
      left: 1.95em;
    }
    @media #{$tablet} {
      font-size: 2.1em;
      top: 3.77em;
      left: 2.4em;
    }
    @media #{$mobile} {
      font-size: 1.3em;
      top: 3em;
      left: 2.2em;
    }
  }
  @media #{$desktop} {
    left: 40em;
  }
  @media #{$laptop} {
    top: 20em;
    left: 27em;
  }
  @media #{$tablet} {
    top: 17em;
    left: 20em;
  }
  @media #{$mobile} {
    top: 5.5em;
    left: 14em;
  }
}

.mix-wrapper {
  position: absolute;
  max-width: 250px;
  top: 42em;
  right: 14em;
  &:hover h2 {
    visibility: visible;
  }
  h2 {
    position: absolute;
    top: 0.25em;
    left: 4.25em;
    visibility: hidden;
    font-size: 1.5em;
    color: $mustard;
    @media #{$mobile} {
      font-size: 1.3em;
      top: -0.25em;
      left: 3.5em;
    }
  }
  @media #{$laptop} {
    top: 37em;
    right: 10em;
  }
  @media #{$tablet} {
    top: 39em;
  }
  @media #{$mobile} {
    top: 24em;
    left: 5em;
  }
}

.blog-wrapper {
  max-width: 100px;
  position: absolute;
  top: 10em;
  right: 12em;
  &:hover h2 {
    opacity:1;
  }
  h2 {
    position: absolute;
    top: 1.25em;
    left: 0.35em;
    opacity:0;
    transition:2s ease-in;
    font-size: 1.5em;
    color: $white;
    @media #{$mobile} {
      font-size: 0.9em;
    }
  }
  @media #{$tablet} {
    top: 5em;
    right: 8em;
  }
  @media #{$mobile} {
    top: 17em;
    right: 6em;
  }
}

.social-icons-bottom {
   position: absolute;
   padding-bottom: 30px;
   top: 85vh; 
   justify-content: space-around;
   visibility: hidden;
   width: 100%;
    @media #{$mobile} {
    visibility: visible;
  }
}


