// -----------------------------------------------------------------------------
// This file contains styles that are specific to the who page.
// -----------------------------------------------------------------------------

.who-zone {
  display: flex;
  justify-content: space-between;
  margin: 3em 0;
  img {
    width: 50%;
    height: 50%;
    transition-duration: 7s;
    @media #{$tablet} {
      width: 75%;
      height: 75%;
      margin-bottom: 3em;
    }
    @media #{$mobile} {
      width: 100%;
      height: 100%;
      margin-bottom: 2em;

    }
    &:hover {
      transform: rotate(720deg);
    }
  }
  h1:nth-child(even) {
    color: $blue;
  }
  h1 {
    @media #{$laptop} {
      font-size: 1.3em;
    }
  }
  @media #{$tablet} {
      flex-wrap: wrap;
      margin-top: 0;
  }
}
