.who-zone {
  display: flex;
  margin: 3em 0;
  img {
    width: 50%;
    height: 50%;
    transition-duration: 7s;
    &:hover {
      transform: rotate(720deg);
    }
  }
  h1:nth-child(even) {
    color: $blue;
  }
}
