.gallery-wrapper {
  max-width: 78%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  img {
    max-width: 190px;
    max-height: 190px;
    border: 3px solid $black;
    box-shadow: 5px 5px $white;
    margin: 0 1.5em 3em;
    transition: 0.2s ease-in-out;
    &:hover {
      -ms-transform: scale(1.10,1.10);
      -webkit-transform: scale(1.10,1.10);
      transform: scale(1.10,1.10);
    }
  }
}

.wonky {
  letter-spacing: .2em;
}

.main-cv-zone {
  margin: 0 auto;
  margin-top: 12em;
  h1 {
    font-size: 6em;
    color: $blue;
  }
}

.visible-cloaks {
  display: none;
  margin-left: -6.5em;
  margin-top: 0.25em;
  width: 83%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  .title-link {
    position: relative;
  }
  h1 {
    font-size: 2em;
  }
  img {
    max-height: 30em;
  }
  .fa-long-arrow-right {
    position: absolute;
    top: 0.35em;
    margin-left: 0.4em;
  	font-size: 2em;
  	&:hover {
  		color: $mustard;
  	}
  }
  .top-photo {
    display: flex;
    justify-content: flex-start;;
    margin-bottom: 2em;
    justify-content: space-between;
  }
  .middle-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
  }
  .bottom-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 7em;
    img {
      margin: 0 1em;
      width: 50%;
      height: 50%;
    }
  }
  .description {
    display: flex;
    justify-content: space-around;
    font-family: $mont-lightest-stack;
    font-size: .9em;
    line-height: 2em;
    letter-spacing: 0.1em;
    margin-bottom: 5em;
  }

  .title {
    font-family: $mont-reg-stack;
    font-size: 1.6em;
    letter-spacing: 0.14em;
  }
}
