.gallery-wrapper {
  max-width: 78%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  img {
    max-width: 190px;
    max-height: 190px;
    border: 3px solid $black;
    box-shadow: 5px 5px $white;
    margin: 0 1.5em 3em;
    transition: 0.2s ease-in-out;
    &:hover {
      -ms-transform: scale(1.10,1.10);
      -webkit-transform: scale(1.10,1.10);
      transform: scale(1.10,1.10);
      cursor: pointer;
    }
  }
}

.main-cv-zone {
  margin: 0 auto;
  margin-top: 12em;
  h1 {
    font-size: 6em;
    color: $blue;
  }
}

#project1, #project2, #project3, #project4, #project5, #project6, #project7 {
  display: none;
  margin-left: -4em;
  margin-top: 0.25em;
  width: 85%;
  .title-link {
    position: relative;
  }
  .fa-long-arrow-right {
    position: absolute;
    top: -0.18em;
    margin-left: 0.4em;
  	font-size: 2em;
  	&:hover {
  		color: $mustard;
  	}
  }
  .top-photo {
    width: 95%;
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    img {
      max-height: 30em;
    }
  }
  .middle-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }
  .bottom-photo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7em;
    img {
      margin: 0 1em;
      width: 50%;
      height: 50%;
    }
    .crate-mobile {
      max-width: 17em;
    }
  }
  .description {
    font-family: $mont-lightest-stack;
    font-size: .9em;
    line-height: 2em;
    letter-spacing: 0.1em;
    margin-bottom: 5em;
    a {
      color: $mustard;
    }
  }
  .title {
    font-family: $mont-reg-stack;
    font-size: 1.6em;
    letter-spacing: 0.14em;
  }
}

#project2 {
  .description {
    margin-bottom: 7em;
  }
}

#project3 {
  .bottom-photo {
    .eo-mobile {
      max-width: 13em;
    }
  .eo-tablet {
      max-width: 25em;
  }
  justify-content: space-around;
  align-items: center;
  }
}
