.gallery-wrapper {
  max-width: 78%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  img {
    max-width: 190px;
    max-height: 190px;
    border: 3px solid $black;
    box-shadow: 5px 5px $white;
    margin: 0 1.5em 3em;
    transition: 0.2s ease-in-out;
    &:hover {
      -ms-transform: scale(1.10,1.10);
      -webkit-transform: scale(1.10,1.10);
      transform: scale(1.10,1.10);
    }
  }
}

.wonky {
  letter-spacing: .2em;
}

.main-cv-zone {
  margin: 0 auto;
  margin-top: 12em;
  h1 {
    font-size: 6em;
    color: $blue;
  }
}
// #bank {display:none;}
// #btn-bk {display:none;}

.visible-cloaks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:stretch;
  h1 {
    font-size: 2em;
  }
  img {
    max-height: 30em;
    margin-right: 7em;
  }
}
