// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  border-bottom: 2px solid $white;
  margin-top: 1.8em;
}

.social-icons {
  justify-content: flex-end;
}
