// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.navbar {
  display: flex;
  align-items:baseline;
  border-bottom: 2px solid $white;
  margin-top: 1.2em;
  h1 {
    flex: 3;
  }
}
