// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar of the site/application.
// -----------------------------------------------------------------------------

.sidebar {
  margin-top: -1em;
  .projects-all {
    width: 87px;
    font-family: $mont-reg-stack;
    letter-spacing: 0.2em;
    border-bottom: 0.15em dotted $mustard;
    padding-bottom: 1.25em;
  }
  ul {
    padding: 0;
    list-style-type: none;
    li {
      color: $white;
      list-style: none;
      font-family: $mont-lightest-stack;
      letter-spacing: 0.1em;
      margin-bottom: 2em;
      font-size: 1 em;
      &:hover {
        color: $link-blue;
        cursor: pointer;
      }
    }
  }
  .print-list {
    li {
      &:hover {
      color: $red;
      cursor: pointer;
      }
    }
  }
}
