// bouncing email icon //

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

//top menu icons //

.social-icons,
.social-icons-bottom {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	width: 12em;
  .fa-github {
    font-size: 1.4em;
    &:hover {
      color: $mustard;
    }
  }
  .fa-linkedin-square {
    font-size: 1.4em;
    &:hover {
      color: $mustard;
    }
  }
	.mail {
	  &:hover {
	     animation: bounce 1s;
	  }
	}
}


// back to top arrow //

.fa-long-arrow-up {
	display: block;
	font-size: 5em!important;
	visibility: hidden;
	margin: 0.5em 1.5em -2em 1.5em;
	@media #{$mobile} {
		visibility: visible;
  }
}

//back arrow //

.fa-long-arrow-left {
	display: block;
	font-size: 5em!important;
	visibility: hidden;
	margin: -1em 2em -2em 1em;
	@media #{$mobile} {
		visibility: visible;
  }
}
