/**
 * Basic typography style for copy text
 */

h1, h2, {
  font-family: $mont-light-stack;
  font-size: 1.6em;
  letter-spacing: 0.14em;
}

h2 {
  font-family: $mont-reg-stack;
  padding-bottom: 0.2em;
  font-size: 3em;
}

h3 {
  font-family: $mont-lightest-stack;
  letter-spacing: 0.2em;
  font-size: 1.1em;
  color: $link-blue;
}

.wonky {
  letter-spacing: .2em;
}
