/**
 * Basic typography style for copy text
 */

h1, h2, {
  font-family: $mont-light-stack;
  font-size: 1.6em;
  letter-spacing: 0.14em;
  @media #{$mobile} {
    font-size: 1.5em;
  }
}

h2 {
  font-family: $mont-reg-stack;
  padding-bottom: 0.2em;
  font-size: 3em;
}

h3 {
  font-family: $mont-lightest-stack;
  letter-spacing: 0.2em;
  font-size: 1.1em;
  color: $link-blue;
  @media #{$mobile} {
    font-size: 1em;
  }
}

p {
  max-width: 94%;
  @media #{$mobile} {
    width: 100%;
  }
}

// instances of 'fi' where the kerning is too tight //

.wonky {
  letter-spacing: .2em;
}
