///Colors

$onyx: #0F0F0F;
$white: #FFF;
$gold: #E4B849;
$cerulean-blue: #3957C2;
$coquelicot: #FF3800;
$cornflower-blue: #6181F2;


///Color variables

$black: $onyx;
$mustard: $gold;
$blue: $cerulean-blue;
$red: $coquelicot;
$link-blue: $cornflower-blue;


/// Fonts

$mont-reg-stack: 'Montserrat Regular', sans-serif;
$mont-light-stack: 'Montserrat Light', sans-serif;
$mont-lightest-stack: 'Montserrat Ultra Light', sans-serif;


/// Breakpoints

  $mobile: '(min-width: 320px) and (max-width: 426px)';

  $tablet: '(max-width: 850px)';
  $laptop: '(max-width: 1100px)';
  $desktop: '(min-width: 1725px)';

